{% extends 'bases.html' %}

{% block content%}
<section id="hero" class="d-flex align-items-center">
<div class="container">
    <h1>회원정보</h1><br>
    <div class="row">
        <div class="col-12">
        이름 : {{user_name}} <br>
        회원 아이디 : {{user_id}} <br>
        거주지역 : {{user_loct}}
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-12">
            {{ error }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">

                <input id='bt1' type="submit" class="btn" onclick="open_ch()"value="비밀번호 변경">
                <div id="change_div" class="collapse show" data-bs-parent=".faq-list" style="display:none;">
                  <p>
                       <form id="pw1"action="" method="post" >
                            {% csrf_token %}
                            <h5>비밀번호를 변경하시려면 입력하세요.</h5> <br>
                            <label for="password1">기존 비밀번호 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: </label>
                            <input name='password1'type="password"> &nbsp<br><br>
                            <label for="newpassword">변경할 비밀번호 &nbsp&nbsp&nbsp&nbsp&nbsp: </label>
                            <input name='newpassword'type="password"> <br><br>
                            <label for="newpassword2">변경할 비밀번호 확인 &nbsp: </label>
                            <input name='newpassword2'type="password">

                            <input type="text" name="change" value="1" style="display: none;">
                                

                            <br><br>
                            <input type="submit" class="btn" value="변경">
                            <input type="button" onclick="close_ch()" class="btn" value="닫기">
                        </form>
                    </p>
                </div>
                <br>

            <input id ="bt2" type="button" class="btn" value="회원탈퇴" onclick="open_del()" style='margin-top:8px;'>
                <div id="del_div" class="collapse show" data-bs-parent=".faq-list" style="display: none;">
                    <form action="" method="post" >
                        {% csrf_token %}
                        <h5>회원탈퇴를 원하시면 비밀번호를 입력하세요.</h5> <br>
                        <label for="password1">비밀번호 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: </label>
                        <input name='password1'type="password"> &nbsp<br><br>
        
                        <input type="text" name="delete" value="2" style="display: none;">
                        <input type="submit" class="btn" value="탈퇴">
                        <input id="del_close" onclick="close_del()" class="btn" style="width:60px" value="닫기">
                    </form>
                  </p>
                </div>
           

        </div>
    </div>
   
</div>
</section>
<script>
    function close_ch(){
    target1 = document.getElementById('bt1');
    target1.style.display = '';
    target2 = document.getElementById('change_div');
    target2.style.display = 'none';
    target3 = document.getElementById('bt2');
    target3.style.display = '';
    
    
    }
    function open_ch(){
        target1 = document.getElementById('bt1');
        target1.style.display = 'none';
        target2 = document.getElementById('change_div');
        target2.style.display = '';
        target3 = document.getElementById('bt2');
        target3.style.display = 'none';

    }

    function close_del(){
    target1 = document.getElementById('bt2');
    target1.style.display = '';
    target2 = document.getElementById('del_div');
    target2.style.display = 'none';
    target3 = document.getElementById('bt1');
    target3.style.display = '';
    
    
    }
    function open_del(){
        target1 = document.getElementById('bt2');
        target1.style.display = 'none';
        target2 = document.getElementById('del_div');
        target2.style.display = '';
        target3 = document.getElementById('bt1');
        target3.style.display = 'none';

    }


</script>

{% endblock %}


