{% extends 'bases.html' %}

{% block content%}
<section id="hero" class="d-flex align-items-center">
<div class="container">
    <h1>회원정보</h1><br>
    <div class="row">
        <div class="col-12">
        이름 : {{user_name}} <br>
        회원 아이디 : {{user_id}} <br>
        거주지역 : {{user_loct}}
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-12">
            {{ error }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="" method="post" >
                <br>
                비밀번호를 변경하시려면 입력하세요. <br>
                <label for="password1">기존 비밀번호 &nbsp&nbsp&nbsp&nbsp: </label>
                <input name='password1'type="password"> &nbsp<br><br>
                <label for="newpassword">변경할 비밀번호 : </label>
                <input name='newpassword'type="password"> <br><br>
                <label for="newpassword2">변경할 비밀번호 확인 &nbsp&nbsp&nbsp: </label>
                <input name='newpassword2'type="password">

                <input type="text" name="change" value="1" style="display: none;">
                    

                <br><br>
                <input type="submit" class="btn" value="비밀번호 변경">
            </form>

            <form action="" method="post" >
                회원탈퇴를 원하시면 비밀번호를 입력하세요. <br>
                <label for="password1">비밀번호 &nbsp&nbsp&nbsp&nbsp: </label>
                <input name='password1'type="password"> &nbsp<br><br>

                <input type="text" name="delete" value="2" style="display: none;">
                <input type="submit" class="btn" value="회원탈퇴">
            </form>
        </div>
    </div>
   
</div>
</section>
{% endblock %}


