<html>
    <!-- ======= Footer ======= -->
    <footer id="footer">


        <div class="footer-top">
        <div class="container">
            <div class="row">

            <div class="col-lg-4 col-md-6 footer-contact">
                <h3>French Five</h3>
                <p>&nbsp</p>
                <p>
                    우편번호 : 48548 <br>
                    부산광역시 남구 신선로 365, 산학협력관 302호 <br>
                    365, Sinseon-ro, Nam-gu, Busan, Republic of Korea <br>
                    <p>&nbsp</p>
                <p><i class="bi bi-telephone-fill"></i> 051-629-4114</p>
                <p><i class="bi bi-house-fill"></i> https://www.pknu.ac.kr<br></p>
                </p>
            </div>

            <div class="col-lg-8 col-md-6 footer-links">
                
                <h4>약관 &nbsp | &nbsp 개인정보 처리방침 &nbsp | &nbsp 이용안내</h4>
                <br>
                <p>본 홈페이지에 게시된 정보가 자동 수집되는 것을 거부하며,
                    이를 위반시 개인정보 보호법에 의해 처벌됨을 유념하시기 바랍니다.</p>
                <p> 고객센터 2022-0308 평일 13:00~16:00 (공휴일 제외)
                </p>
                <p style="font-size:1px">&nbsp</p>
                <div class="social-links mt-3">
                <a href="https://twitter.com/?lang=ko" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://github.com/leejeongsueng1/Project1.git" class="facebook"><i class="bi bi-github"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://skype.daesung.com/main.asp" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="https://kr.linkedin.com/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                </div>
                <p></p>
                <p></p>
            </div>
        </div>
        </div>
        </div>

        <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>French Five</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
        </div>
    </footer><!-- End Footer -->

</html>