{% extends 'base.html'%}
{% load static %}
{% block content%}

  <div class="container">
    <div> 
    <div class="row" style="margin-top: 15px;">
      <div class="col-10 align-self-center">
       
        {% if user_name %}
          안녕하세요 {{ user_name }}님!&nbsp&nbsp&nbsp 
        {% endif %}

       
      </div>
      <div class="col-2 align-self-center">
        <div style="display:inline; text-align:right;">지역 : {{user_loct}}</div>
      </div>
    </div>
    <hr>
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
      <div class="text-center my-5">
          <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." />
          <h1 class="text-white fs-3 fw-bolder">화이팅!</h1>
          <p class="text-white-50 mb-0">급식을 찾아드리겠습니다.</p>
      </div>
    </header>
    <hr>

    <div class="row">
      <div class="col-11">
          <iframe src="/main/{{map}}" frameborder="0" height="800px" width="1100px"></iframe>
         
      </div>
      <div class="col-1">
        세상에나 왜 안된다니

      </div>

    </div>

 
  </div>

  


  

  <br>


  

  
{% endblock %}

  

<!-- 
{% if user_name %}
          {% for i in ct_name|length %}
            <ol>
              <li>급식소명 : {{ct_name}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_loct}}-{{forloop.counter0}}</li>
              <li>급식소 전화번호 : {{ct_tel}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info1}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info2}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info3}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info4}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info5}}-{{forloop.counter0}}</li>
            </ol>
          {% endfor %}
        {% endif %}
        {% if ct_name %}
          {% for i in ct_name|length %}
            <ol>
              <li>급식소명 : {{ct_name}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_loct}}-{{forloop.counter0}}</li>
              <li>급식소 전화번호 : {{ct_tel}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info1}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info2}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info3}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info4}}-{{forloop.counter0}}</li>
              <li>급식소 위치: {{ct_info5}}-{{forloop.counter0}}</li>
            </ol>
          {% endfor %}
        {% endif %}
 -->


