{% extends 'base.html'%}


{% block content%}
  <div class="container">
    <div>
      
    <div class="row" style="margin-top: 15px;">
      <div class="col-9 align-self-center">
       
        {% if user_name %}
          안녕하세요 {{ user_name }}님!&nbsp&nbsp&nbsp지역 : {{user_loct}}
        {% endif %}

       
      </div>
      <div class="col-3 align-self-center">
        하이
      </div>
    </div>
    <hr>


    <div class="row">
      <div class="col-9">
          <iframe src="/main/{{map}}" frameborder="0" height="800px" width="800px"></iframe>
         
      </div>
      <div class="col-3">
        헬로
      </div>
    </div>
  </div>

  <br>


  <script language="javascript">
    
  </script>
  {% if user_name %}
  <script>
    index_logined()
  </script>
  {% endif %}
  

  
{% endblock %}

  






