{% extends 'bases.html'%}
{% load static %}
{% block content%}
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>급식소를 찾아드립니다.</h1>
          <h2>혼자 식사하기 어려운 사람들에게 길을 찾아드립니다.</h2>
          <div>
            <a href="#contact" class="btn-get-started scrollto">찾기!</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{%static 'img/spoon-and-fork.png'%}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
</section><!-- End Clients Section -->
<main id="main">
<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>급식소 찾기</h2>
      <p>지역을 선택해서 주변 급식소를 빠르게 찾아보세요.</p>
    </div>

    <div class="row">

      <div class="col-lg-12 d-flex align-items-stretch" style="height:680px" data-aos="fade-up" data-aos-delay="100">
        <div class="info">
          <iframe src="/main/{{map}}" frameborder="0"height="100%" width="100%" data-aos="zoom-in"></iframe>
        </div>

      </div>


  </div>
  </div>
</section><!-- End Contact Us Section -->

<!-- ======= Contact Us Section ======= -->
<section id="abc" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>지역별 급식소 정보</h2>
      <p>지역별로 급식소 개수를 알아보세요.</p>
    </div>

    <div class="row">

      <div class="col-lg-12 d-flex align-items-stretch" style="height:680px" data-aos="fade-up" data-aos-delay="100">
        <div class="info">
          <iframe src="/main/graph/" frameborder="0"height="100%" width="100%" data-aos="zoom-in" id="graphs"></iframe>
        </div>

      </div>


  </div>
  </div>
</section><!-- End Contact Us Section -->
  

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="{%static 'assets/img/about-img.svg'%}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">내가 사는 곳의 급식소를 찾아보세요.</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              원하는 지역을 선택하시면 저희가 찾아드릴게요<br>
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>주변 무료급식소 조회 가능</h4>
                <p>거주지역을 등록하고 주변 급식소 정보를 받아보세요.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>지역별 급식소 정보</h4>
                <p>우리지역의 급식소 개수를 알아보세요.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Target</h2>
          <p>무료급식 지원대상</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{% static '/img/service1/canteen.png'%}" style="width: 60px;" /></div>
              <br>
              <h4 class="title"><a href="" style="color: #4E4039;">무료급식 지원사업</a></h4>
              <p class="description">가정 형편이 어렵거나 부득이한 사정으로 식사를 거를 우려가 있는 취약계층의 건강과 영양의 질을 높이기 위해 급식 사업이 시행되고 있다.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img src="{% static '/img/service1/grandmother.png'%}" style="width: 65px;" /></div>
              <br>
              <h4 class="title"><a href="" style="color: #4E4039;">노인</a></h4>
              <p class="description">단순히 식사 제공에 그치는 것이 아니라 고령자의 안부 확인, 고독의 완화, 인간적인 교류 등 부차적인 효과를 발생시킨다.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="{% static '/img/service1/daughter.png'%}" style="width: 70px;" /></div>
              <br>
              <h4 class="title"><a href="" style="color: #4E4039;">결식아동</a></h4>
              <p class="description">보호자가 근로, 질병·장애 등의 사유로 주식과 부식을 준비하기 어렵거나, 아동 스스로 식사를 차려 먹기 어려운 경우</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><img src="{% static '/img/service1/help.png'%}" style="width: 65px;" /></div>
              <br>
              <h4 class="title"><a href="" style="color: #4E4039;">노숙인</a></h4>
              <p class="description">노숙인 지역사회 복귀를 위한 일자리 연계, 신용회복, 의류·물품 지원 및 상담 등 중장기적인 지원도 함께 제공하려 노력중이다.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>gallery</h2>
          <p>무료급식소</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/vol_can.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://news.samsungdisplay.com/20985/" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/can1.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="http://www.gndomin.com/news/articleView.html?idxno=205158" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/love.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://m.khan.co.kr/national/national-general/article/202111011427001/amp" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/can4.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://news.sbs.co.kr/amp/news.amp?news_id=N1006544229" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/gra_can.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://www.fnnews.com/news/202202231245140546" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/canteen.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="http://homelessaction.or.kr/xe/index.php?page=4&document_srl=725065&mid=hlnews" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/can5.png'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://m.mk.co.kr/news/society/view-amp/2021/12/1113659/" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/can3.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="http://www.ikoreanspirit.com/news/articleView.html?idxno=65925" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{%static 'assets/img/portfolio/love_can.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="http://digitalchosun.dizzo.com/m/article.amp.html?contid=2021072080244" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <p>자주 하는 질문</p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Q. 사이트 개설 목적<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                A. 하루 한 끼로 허기진 배를 움켜쥐고 고단한 삶을 살아가는 분들이 김이 모락모락
                    피어오르는 따순한 밥상에 최대한 영양소를 골고루 갖춘 식사를 하시길 바랍니다.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Q. 회원가입을 해야하나요?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                A. 회원가입을 하지 않아도 지역을 선택하여 급식소 조회해 볼 수 있습니다.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Q. 무료급식 대상자 조건이 무엇인가요?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                <무료급식 대상자 조건><br>
1. 60세 이상 기초생활수급자 : 신분증 / 등본 / 수급자증명서 / 지방세 세목별 과세증명서<br>
2. 60세 이상 차상위 계층 : 신분증 / 등본 / 차상위증명서 / 지방세 세목별 과세증명서<br>
3. 65세 이상 조합원 (독거 어르신) : 신분증 / 등본 / 가족관계증명서 1부<br>
* 기관마다 조건이 상이하므로 방문전 확인 바랍니다.

              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Q. 지도에 있는 버튼은 어떤 기능인가요?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                A. <중심좌표로 이동> : 본인이 설정한 지역의 시/군/구청으로 지도의 기준점이 재설정됩니다. <br>
                &nbsp&nbsp <한번에 보기> : 본인이 설정한 지역의 모든 급식소가 한번에 보이도록 해주는 기능입니다.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Q. 주소지 변경이 가능한가요?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                A. 로그인시 오른쪽 상단의 마이페이지에서 비밀번호 입력 후 주소지 변경 및 탈퇴가 가능합니다.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>우리 팀을 소개합니다.</p>
        </div>

        <div class="row">

          <div class="col-xl col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member">
              <img src="{%static 'assets/img/team/1.png'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Kang Chung Woo</h4>
                  <span>Data Manager</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="member">
              <img src="{%static 'assets/img/team/2.jpg'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jeong Ho Yeong</h4>
                  <span>Server Operator</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="member">
              <img src="{%static 'assets/img/team/3.jpg'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lee Jeong Sueng</h4>
                  <span>Chief Risk Officer</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="member">
              <img src="{%static 'assets/img/team/4.jpg'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jeong Ji Yeon</h4>
                  <span>Chief Technical Officer</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="member">
              <img src="{%static 'assets/img/team/5.jpg'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Kim Soo Jeong</h4>
                  <span>Chief Executive Officer</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Fellow Worker</h2>
          <p>함께 일하는 사람들</p>
        </div>

        <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a href="http://www.koreapeople.co.kr/" target="_blank"><img src="{%static 'img/sister/Senior_Citizens_Association.jpg'%}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="https://www.longtermcare.or.kr/npbs/indexr.jsp" target="_blank"><img src="{%static 'img/sister/long_term_care.png'%}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="http://www.kaswcs.or.kr/" target="_blank"><img src="{%static 'img/sister/welfare_center.png'%}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="http://www.1004n.co.kr/" target="_blank"><img src="{%static 'img/sister/1004.png'%}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="https://kordi.or.kr/main.do" target="_blank"><img src="{%static 'img/sister/labor_development.png'%}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    

  </main><!-- End #main -->
  {% endblock %}