
<html>
{% include 'sidebar.html' %}
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>  
      </div>
      <a class="navbar-brand" href="/main/">급식소 찾기</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="/main/">Home</a>
              <li class="nav-item"><a class="nav-link" href="/main/dashboard">dashboard</a>
              <li class="nav-item"><a class="nav-link" href="/main/about_us">About Us</a>
              <li class="nav-item" id="signin" style="display: '';"><a class="nav-link" href="/main/accounts/login/">로그인</a></li>
              <li class="nav-item" id="signout" style="display: none;"><a class="nav-link" href="/main/accounts/logout/">로그아웃</a></li>
              <li class="nav-item" id="signup" style="display: '';"><a class="nav-link" href="/main/accounts/signup">회원가입</a></li>
          </ul>
      </div>
  </div>
</nav>
{% if user_name %}
  <Script>
    logined()
  </Script>
{% endif %}

{% if not user_name %}
  <Script>
    not_logined()
  </Script>
{% endif %}
  
</html>
